<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}Todo App{% endblock title %}
        </title>
        <h1>Todo App</h1>
        {% if user.is_authenticated %}
            <p><a href="{% url 'home' %}">Home</a> | <a href="{% url 'task_list' %}">Tasks</a> | <a href="{% url 'task_add' %}">+Task</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a></p> 
        {% endif %}
        <hr>
        <hr>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>